= form_for @prototype do |f|
  .container.proto-new
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_area :title, rows: "1", placeholder: "Title", class: 'proto-new-title'
      .row
        .col-md-12
          .cover-image-upload
            = f.fields_for :images, @prototype.images[0] do |images_form|
              = images_form.file_field :substance, id: 'js-main_image_form'
              = image_tag @prototype.images[0].substance, id: 'js-main_image_display' , class: 'main_preview'
        .col-md-12
          %ul.proto-sub-list.list-group
            - for i in 1..3
              %li.list-group-item.col-md-4
                .image-upload
                  = f.fields_for :images, @prototype.images[i] do |images_form|
                    = images_form.file_field :substance, id: "js-sub#{i.to_s}_image_form"
                    = image_tag @prototype.images[i].substance, id: "js-sub#{i.to_s}_image_display", class: 'sub_preview'

      .row.proto-description
        .col-md-12
          = f.text_area :catch_copy, rows: "1", placeholder: "Catch Copy"
        .col-md-12
          = f.text_area :concept, cols: "30", rows: "4", placeholder: "Concept"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              = text_field_tag 'prototype[tag_list][]', @prototype.tag_list[0]
            .col-md-3
              = text_field_tag 'prototype[tag_list][]', @prototype.tag_list[1], placeholder: "UI"
            .col-md-3
              = text_field_tag 'prototype[tag_list][]', @prototype.tag_list[2], placeholder: "Application"
      .row.text-center.proto-btn
        %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Publish

