.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          %a{href: "#"}
            = #image_tag @prototype.main_image.substance, class: "media-object"
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            by
            = link_to @prototype.nickname, user_path(@prototype.user)
            %span.degree
              = @prototype.works
    .col-md-6.text-right
      = form_tag prototype_likes_path(@prototype.id), method: :post, remote: true do
        %button.btn.btn-default
          = image_tag "icon_heart.svg"
          Like
          %span.num#likes_count
            = @prototype.likes_count
  .row
    .col-md-9
      = image_tag @prototype.main_image.substance, class: 'img-responsive'
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.sub_images.each do |image|
          %li.list-group-item
            = image_tag image.substance, class: 'img-responsive'
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      = simple_format @prototype.catch_copy
    .col-md-6
      %h4 Concept
      = simple_format @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num (10)
    .col-md-8
      .media
        .media-left
          %a{href: "#"}
            = image_tag @prototype.main_image, class: "media-object"
        .media-body
          %h4#top-aligned-media.media-heading
            Top aligned media
            %a.anchorjs-link{href: "#top-aligned-media"}
              %span.anchorjs-icon
          %p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          %p Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      %form.form-inline{role: "form"}
        %h4 Write a comment
        .row
          .form-group.col-md-10
            %textarea.form-control{placeholder: "Your comments", rows: "3"}
          .form-group.col-md-2
            %button.btn.btn-primary Comment
