.col-sm-4.col-md-3.proto-content
  .dropdown.drop_menu_location
    = button_tag class: 'btn btn-default dropdown-toggle', type: 'button', :'data-toggle' => 'dropdown', :'aria-expanded' => 'false' do
      ACTION
    %ul{class: 'dropdown-menu', role: 'menu'}
      %li{role: 'presentation'}
        = link_to 'edit', ""
  .thumbnail
    = link_to prototype_path(prototype) do
      = image_tag prototype.main_image.substance
      .caption
        %h3
          = prototype.title
        .proto-meta
          .proto-user
            = link_to "by #{prototype.user.nickname}", user_path(prototype.user)
          .proto-posted
            = prototype.display_date
        %ul.proto-tag-list.list-inline
          %li
            %a{href: "#", class: "btn btn-default"} iPad
          %li
            %a{href: "#", class: "btn btn-default"} wireframe
